* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #EDF2F4;
}

body {
    color: #2B2D42;
}

h2, h3, p, ul, ol, li {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    text-justify: inter-word;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 800px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-weight: bold;
}
